$font-family-base: "Manrope", sans-serif;
$body-bg: rgba(0, 0, 0, 0);

$green-300: rgb(0, 212, 126);
$green-600: rgb(2, 71, 81);
$green-800: rgb(16, 40, 48);

$primary: $green-300;
$primary-bg: $green-800;

$body-color: $green-600;
$link-color: $green-600;
$link-hover-color: $green-300;
$link-active-color: $green-300;
$headings-color: $green-800;

// Buttons
$input-btn-padding-y: 15px;
$input-btn-padding-x: 30px;
$btn-line-height: 1;
$btn-border-radius: 60px;

// Links
$link-decoration: none;

// Cards
$card-bg: white;
$card-border-radius: 30px;
$card-spacer-y: 1.5rem;
$card-spacer-x: 1.5rem;
$card-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
