<div class="card">
  <% if header %>
    <div class="card-header">
      <%= header %>
    </div>
  <% end %>
  <% if body %>
    <div class="card-body">
      <div class="card-text">
        <%= body %>
      </div>
    </div>
  <% end %>
  <% if list %>
    <ul class="list-group list-group-flush">
      <%= list %>
    </ul>
  <% end %>
  <% if footer %>
    <div class="card-footer">
      <%= footer %>
    </div>
  <% end %>
</div>
