<%
  set_meta_tags(
    title: "Index page",
    description: "Welcome to Grandline, a simple page to test different AI models",
    keywords: "Site, Login"
  )
%>

<div class="container-md w-100 w-md-75 mt-5 mx-auto">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5 col-lg-4 bg-white">
      <%= render "pages/index/what_is_this" %>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-2 col-md-5"></div>
    <div class="col-10 col-md-5 col-lg-3 card-on-top">
      <%= render "pages/index/creator" %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
