<%= render CardComponent.new do |card| %>
  <% card.with_header do %>
    <h1><%= t("contacts.index.headline") %></h1>
  <% end %>

  <% card.with_list do %>
    <% if contacts.present? %>
      <% contacts.each do |contact| %>
        <li class="list-group-item clearfix">
          <%= render "contacts/contact", contact: contact %>
        </li>
      <% end %>
    <% else %>
      <p class="p-4"><%= t("contacts.index.look_for_contacts.no_contacts") %></p>
    <% end %>
  <% end %>
<% end %>
