.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  border: var(--border);

  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--space-m);
    background: var(--color-primary-bg);

    * {
      padding: var(--space-m);
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    padding: var(--space-m);

  }
}
