.messages {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  height: 65vh;
  padding: 25px 35px;
}

.light-blue-bg {
  background-color: $blue-300;
}

.light-gray-bg {
  background-color: $gray-200;
}
