<%= render CardComponent.new do |card| %>
  <% card.with_header do %>
    <h3 class="text-center">Chart</h3>
  <% end %>

  <%= card.with_body do %>
    <canvas style="height: 1200px"
      data-controller="chart"
      data-chart-target="container"
      data-chart-type-value="bubble"
      data-chart-data-value="<%= serie.serie.to_json %>">
    </canvas>
  <% end %>
<% end %>
